<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_for @file_type, html: { class: 'form-horizontal' } do |f| %>
  <% if @file_type.errors.any? %>
    <div id="error_explanation" class="bs-callout bs-callout-danger">
      <h4><%= pluralize(@file_type.errors.count, "error") %> prohibited this file_type from being saved</h4>

      <ul>
      <% @file_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :extension, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_field :extension, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_area :description, rows: 7, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <div class="checkbox">
        <label><%= f.check_box :visible %> Visible</label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :dictionary_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.select :dictionary_id, [['---', nil]] + Dictionary.current.collect{|d| [d.name, d.id]}, {}, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= cancel %>
    </div>
  </div>
<% end %>
