<% @title = "File Type: #{@file_type.name}" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <% if current_user.system_admin? %>
      <%= link_to "Edit File Type", edit_file_type_path(@file_type), class: 'btn btn-xs' %>
      <%= link_to "Delete File Type", @file_type, data: { confirm: "Are you sure you want to delete File Type #{@file_type.name}?" }, method: :delete, class: 'btn btn-xs btn-danger-inverse' %>
    <% end %>
    <%= link_to "View File Types", file_types_path, class: 'btn btn-xs' %>
  </h1>
</div>

<dl class="dl-horizontal">

  <dt>Description</dt>
  <dd><%= simple_format @file_type.description %></dd>

  <dt>Extension</dt>
  <dd><%= @file_type.extension %></dd>


  <dt>Visible</dt>
  <dd><%= @file_type.visible %></dd>

  <dt>User</dt>
  <dd><%= link_to @file_type.user.name, @file_type.user if @file_type.user %></dd>

  <dt>Sources</dt>
  <dd>
    <ul>
      <% @file_type.sources.each do |source| %>
        <li><%= link_to source.name, source %></li>
      <% end %>
    </ul>
  </dd>

  <dt>Dictionary</dt>
  <dd><%= link_to @file_type.dictionary.name, @file_type.dictionary if @file_type.dictionary %></dd>

</dl>
