<div>
  <h3>
    <%= @criterium.variable.display_name %>
  </h3>
</div>

<hr class="soften" style="margin-top:5px;margin-bottom:35px"/>

<div class="row">
  <div class="col-md-6">
    <%= render partial: 'criteria/form' %>
    <%= render partial: 'variables/about', locals: { variable: @criterium.variable } %>
  </div>

  <div class="col-md-6">
    <div id="variable-info">
      <%= render partial: 'variables/info', locals: { variable: @criterium.variable } %>
    </div>
  </div>
</div>

<div style="height:30px; margin-top:35px;">
  <%= link_to 'Close', '#', class: 'btn btn-mini pull-right', data: { object: 'hide-contour-modal' } %>
</div>
