<div class="page-header">
  <h1><%= link_to 'Sources', sources_path %> &middot; <%= @title %></h1>
</div>

<%= form_for @source, html: { class: 'form-horizontal' } do |f| %>
  <% if @source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@source.errors.count, "error") %> prohibited this source from being saved:</h2>

      <ul>
      <% @source.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, rows: 7, style: 'width:95%' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :visible, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.check_box :visible %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :wrapper, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.select :wrapper, Source::WRAPPER %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :host, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :host, placeholder: 'localhost' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :port, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.number_field :port, placeholder: '3306' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :database, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :database %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :username, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :username %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :password %>
    </div>
  </div>



  <div class="control-group">
    <%= f.label :repository, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.select :repository, Source::REPOSITORY %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :file_server_host, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :file_server_host %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :file_server_path, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :file_server_path %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :file_server_login, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :file_server_login %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :file_server_password, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :file_server_password %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= cancel %>
  </div>
<% end %>
