<div id="contour-backdrop" style="display:none"></div>

<div class="contour-modal-wrapper" data-object="contour_modal_wrapper" style="display:none">
  <div class="contour-modal" data-object="contour_modal_container" id="mappings-popup-container">
  </div>
</div>

<% result_hash = @source.tables(current_user) %>
<% (@tables, @error) = [result_hash[:result], result_hash[:error]] %>

<% if not @error.blank? %>
  <span class="quiet"><%= @error %></center></span>
<% elsif @tables.size > 0 %>

  <center>
  <%= form_tag table_columns_source_path(@source), method: :post, remote: true, id: "table_columns_search", style: 'margin-bottom:0px', data: { object: 'form-load' } do %>
    <% if false %>  Search <%= text_field_tag 'search', params[:search] %> <% end %>
    Tables <%= select_tag 'table', options_for_select(@tables.sort.collect{|t| [t,t]}, params[:table]) %>
    <%= check_box_tag "filter_unmapped", '1', params[:filter_unmapped] %> Filter Partially Mapped
  <% end %>
  </center>

<% else %>
  <center><span class="label label-warning">No Tables Retrieved</span></center>
<% end %>

<div id="table_content"><br /><center><%= image_tag 'contour/ajax-loader.gif' %> Loading Table Mappings</center></div>
