<% result_hash = @source.tables(current_user) %>
<% (@tables, @error) = [result_hash[:result], result_hash[:error]] %>

<fieldset>
  <legend>Table Mappings</legend>
  <% if @source.user_has_action?(current_user, "edit data source mappings") %>
    <%= form_tag auto_map_source_path(@source), method: :post, remote: true, id: 'auto_map_form_all', style: 'display:inline' do %>
      <%= link_to 'Auto Map All Tables', '#', data: { object: 'all-tables-automap' } %>
      to Dictionary
      <%= select_tag :all_dictionary_id, options_for_select([["--Choose Dictionary--", nil]] + Dictionary.available.order('name').collect{|item| [item.name, item.id]}, params[:dictionary_id]), name: 'dictionary_id' %>
    <% end %>
    <br />
    <%= link_to "Delete All Mappings", remove_all_mappings_source_path(@source), method: :post, data: { confirm: "Are you sure you want to DELETE all associated data source mappings for Data Source #{@source.name}?" }, class: 'btn btn-danger' %>
  <% end %>
  <ul>
  <% @tables.sort.each do |table| %>
    <li><strong><%= table %></strong>
      <% table_div_name = table.gsub(/[^\w\-]/, '_') %>
      <span id="table_<%= table_div_name %>_columns_mapped"><%= @source.table_columns_mapped(current_user, table) %></span></li>
  <% end %>
  </ul>
</fieldset>
