<% result_hash = @source.tables(current_user) %>
<% (@tables, @error) = [result_hash[:result], result_hash[:error]] %>

<h3>Table Mappings</h3>

<% if @source.user_has_action?(current_user, "edit data source mappings") %>
  <%= form_tag auto_map_source_path(@source), method: :post, remote: true, id: 'auto_map_form_all', class: 'form-inline' do %>
    <%= link_to 'Auto Map All Tables', '#', data: { object: 'all-tables-automap' } %>
    to Dictionary
    <%= select_tag :all_dictionary_id, options_for_select([["--Choose Dictionary--", nil]] + Dictionary.available.order('name').collect{|item| [item.name, item.id]}, params[:dictionary_id]), name: 'dictionary_id' %>
    or
    <%= link_to "Delete All Mappings", remove_all_mappings_source_path(@source), method: :post, data: { confirm: "Are you sure you want to DELETE all associated data source mappings for Data Source #{@source.name}?" }, class: 'btn btn-danger-inverse' %>
  <% end %>

<% end %>

<table class="table table-bordered table-striped"><col width="40%" /><col width="40%" /><col width="20%" />
  <thead>
    <tr>
      <th style="text-align:left">Table</th>
      <th style="text-align:left">Human Name</th>
      <th style="text-align:left">Columns Mapped</th>
    </tr>
  </thead>
  <% @tables.sort.each do |table| %>
    <tr>
      <td><strong><%= table %></strong></td>
      <td>
        <% if @source.table_hash[table.to_s].blank? %>
          <span class="muted"><%= table %></span>
        <% else %>
          <%= @source.table_hash[table.to_s] %>
        <% end %>
        <%= link_to 'edit', edit_table_name_source_path(@source, table: table), remote: true, method: :get, class: 'btn btn-xs' %>
      </td>
      <td>
        <% hash = @source.table_columns_mapped(current_user, table) %>
        <% percent = hash[:mapped] * 100 / hash[:total] %>
        <% status = "danger" %>
        <% status = "warning" if percent >= 33 %>
        <% status = "success" if percent == 100 %>
        <div class="progress progress-striped active">
          <div class="bar bar-<%= status %>" style="width: <%= percent %>%;"><%= hash[:mapped] %> of <%= hash[:total] %> (<%= percent %>%)</div>
        </div>
      </td>
    </tr>
  <% end %>
</table>
