<%= render partial: 'contour/layouts/per_page', locals: { type: 'source_joins', per_page: 20 } %>

<table class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'source_joins.source_id', 'From Source', 'source_joins_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'source_joins.from_table', 'From Table', 'source_joins_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'source_joins.from_column', 'From Column', 'source_joins_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'source_joins.source_to_id', 'To Source', 'source_joins_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'source_joins.to_table', 'To Table', 'source_joins_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'source_joins.to_column', 'To Column', 'source_joins_search') %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <% @source_joins.each do |source_join| %>
    <tr>
      <td><%= link_to source_join.source.name, source_join.source if source_join.source %></td>
      <td><%= source_join.from_table %></td>
      <td><%= source_join.from_column %></td>
      <td><%= link_to source_join.source_to.name, source_join.source_to if source_join.source_to %></td>
      <td><%= source_join.to_table %></td>
      <td><%= source_join.to_column %></td>
      <td>
        <%= link_to 'Edit', edit_source_join_path(source_join), class: 'btn btn-mini' %>
        <%= link_to 'Delete', source_join, data: { confirm: "Are you sure you want to delete Source Join #{source_join.name}?" }, method: :delete, class: 'btn btn-mini btn-danger' %>
      </td>
    </tr>
  <% end %>
</table>

<center><%= paginate @source_joins %></center>
