<% @title = [@source ? @source.name : nil, 'Joins'].compact.join(' ') %>
<h1>
  <%= [@source ? link_to(@source.name, @source) : nil, "Joins"].compact.join(" &raquo; ").html_safe %>
</h1>

<% if current_user.system_admin? %>
  <%= link_to image_tag('contour/addfile.png', alt: '') + "Create New Join", new_source_join_path(source_id: @source ? @source.id : nil), class: 'button positive' %>
<% end %>

<%= form_tag source_joins_path(source_id: @source ? @source.id : nil), method: :get, remote: true, id: "source_joins_search" do %>
  <%= hidden_field_tag :order %>
  Search <%= text_field_tag 'search', params[:search] %> <%= information %>
  <div id="source_joins"><div style="clear:both"></div><br /><center><%= image_tag "ajax-loader.gif" %></center></div>
<% end %>

<%= javascript_tag do %>
  $(function(){
    $.get($("#source_joins_search").attr("action"), $("#source_joins_search").serialize(), null, "script");
  });
<% end %>
