<% @title = [@source ? @source.name : nil, 'Joins'].compact.join(' ') %>
<div class="page-header">
  <h1>
    <%= @title %>
    <% if current_user.system_admin? %>
      <%= link_to "Create Source Join", new_source_join_path(source_id: @source ? @source.id : nil), class: 'btn btn-mini btn-primary' %>
    <% end %>
  </h1>
</div>

<%= form_tag source_joins_path(source_id: @source ? @source.id : nil), method: :get, remote: true, id: "source_joins_search", class: 'form-search', data: { object: 'form-load' } do %>
  <%= hidden_field_tag :order %>
  <%= text_field_tag 'search', params[:search], class: 'search-query' %>
  <%= submit_tag 'Search', class: 'btn btn-primary' %>
<% end %>

<div id="source_joins"><center><%= image_tag "contour/ajax-loader.gif" %></center></div>
