<% @title = "Source Join: #{@source_join.name}" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <% if current_user.all_source_joins.include?(@source_join) %>
      <%= link_to "Edit Source Join", edit_source_join_path(@source_join), class: 'btn btn-mini' %>
      <%= link_to "Delete Source Join", @source_join, confirm: "Are you sure you want to delete Source Join #{@source_join.name}?", method: :delete, class: 'btn btn-mini btn-danger' %>
    <% end %>
    <%= link_to "View Source Joins", source_joins_path, class: 'btn btn-mini' %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>Source</dt>
  <dd><%= link_to @source_join.source.name, @source_join.source if @source_join.source %></dd>

  <dt>From Table</dt>
  <dd><%= @source_join.from_table %></dd>

  <dt>From Column</dt>
  <dd><%= @source_join.from_column %></dd>

  <% if @source_join.source_to and @source_join.source_to != @source_join.source %>
    <dt>Source To</dt>
    <dd><%= link_to @source_join.source_to.name, @source_join.source_to if @source_join.source_to %></dd>
  <% end %>

  <dt>To Table</dt>
  <dd><%= @source_join.to_table %></dd>

  <dt>To Column</dt>
  <dd><%= @source_join.to_column %></dd>
</dl>
