<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_for @source_rule, html: { class: 'form-horizontal' } do |f| %>
  <% if @source_rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@source_rule.errors.count, "error") %> prohibited this source_rule from being saved:</h2>

      <ul>
      <% @source_rule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :source_id, @source.id %>

  <div class="control-group">
    <%= f.label :name, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, rows: 7, style: 'width:95%' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :actions, nil, class: 'control-label' %>
    <div class="controls">
      <table class="blank" style="width:100%"><col width="33%"/><col width="33%"/><col width="33%"/>
        <tr>
          <% SourceRule::ACTION_GROUPS.each_with_index do |(rule_group, rules), index| %>
            <td style="vertical-align:top">
              <%= check_box_tag rule_group, '1', false, onclick: "toggleCheckboxGroup(#{index});", class: "rule_group_#{index}_parent" %> <b><%= rule_group %></b><br />
              <% rules.each do |rule| %>
                &nbsp;&nbsp;<%= check_box_tag "rules[#{rule.gsub(' ', '_')}]", '1', @source_rule.has_action?(rule), onclick: "toggleCheckboxGroupParent(#{index});", class: "rule_group_#{index}" %> <%= rule %><br />
              <% end %>
            </td>
            <%= javascript_tag "toggleCheckboxGroupParent(#{index});" %>
          <% end %>
        </tr>
      </table>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :users, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :user_tokens, "data-pre" => (@source_rule.users || []).collect{|id| User.find_by_id(id)}.compact.collect{|u| {name: u.name_and_email, id: u.id}}.to_json %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :blocked, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.check_box :blocked %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= cancel %>
  </div>
<% end %>
