<% @title = "Rule: #{@source_rule.name}" %>
<h1>
  <%= link_to @source_rule.source.name, @source_rule.source %> &raquo;<%= @title %>
</h1>
<% if @source.user_has_action?(current_user, "edit data source rules") %>
  <%= link_to image_tag('contour/edit.png', alt: '') + "Edit Source Rule", edit_source_rule_path(@source_rule), class: 'btn' %>
  <%= link_to image_tag('contour/delete.png', alt: '') + "Delete Source Rule", source_rule_path(@source_rule, source_id: @source.id), confirm: "Are you sure you want to delete Source Rule #{@source_rule.name}?", method: :delete, class: 'button negative' %>
<% end %>
<%= link_to image_tag('contour/mydocuments.png', alt: '') + "View All Source Rules", source_rules_path(source_id: @source.id), class: 'btn' %>

<div style="clear:both"></div>

<pre><%= @source_rule.description %></pre>

<fieldset>
  <br />

  <p>
    <b>Actions:</b><br />
    <table class="blank" style="width:100%"><col width="33%"/><col width="33%"/><col width="33%"/>
      <tr>
        <% SourceRule::ACTION_GROUPS.each_with_index do |(rule_group, rules), index| %>
          <td>
            <%= check_box_tag rule_group, '1', false, disabled: true, class: "rule_group_#{index}_parent" %> <b><%= rule_group %></b><br />
            <% rules.each do |rule| %>
              &nbsp;&nbsp;<%= check_box_tag "rules[#{rule.gsub(' ', '_')}]", '1', @source_rule.has_action?(rule), disabled: true, class: "rule_group_#{index}" %> <%= rule %><br />
            <% end %>
          </td>
          <%= javascript_tag "toggleCheckboxGroupParent(#{index});" %>
        <% end %>
      </tr>
    </table>
  </p>

  <p>
    <b>Users:</b>
    <ul>
    <% @source_rule.users.collect{|id| User.find_by_id(id)}.compact.each do |user| %>
      <li><%= link_to user.name, user %> &lsaquo;<%= user.email %>&rsaquo;</li>
    <% end %>
    </ul>
  </p>

  <p>
    <b>Blocked:</b>
    <%= @source_rule.blocked %>
  </p>
</fieldset>
