<%= form_for @query_concept, url: query_concept_path(@query_concept, query_id: @query), method: :patch, remote: true, html: { class: 'form-horizontal', id: "edit_query_concept_#{@query_concept.id}" } do |f| %>
  <% begin %>
    <%= render partial: "query_concepts/forms/#{@query_concept.variable.variable_type}", locals: { f: f } %>
  <% rescue %>
    <div class="control-group">
      <label class="control-label"><%= @query_concept.variable.variable_type.titleize %></label>
      <div class="controls">
        <%= f.text_field :value %>
      </div>
    </div>
  <% end %>

  <div class="control-group" style="<%= 'display:none' if @query_concept.variable.sources.uniq.size < 2 %>">
    <%= f.label :source_id, "At", class: 'control-label' %>
    <div class="controls sheet-container">
      <% @query_concept.variable.sources.uniq.each do |source| %>
        <label class="radio <%= 'selected' if @query_concept.source == source %>"><%= radio_button_tag "query_concept[source_id]", source.id, @query_concept.source == source %> <%= source.name %></label>
      <% end %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls sheet-container">
      <label class="checkbox negation <%= 'selected' if @query_concept.negated? %> inline"><%= f.check_box :negated %> Negated</label>
    </div>
  </div>

  <div class="form-actions">
    <%= link_to 'Update', '#', class: 'btn btn-primary', data: { object: 'submit', target: "#edit_query_concept_#{@query_concept.id}" } %>
    <%= link_to 'Cancel', '#', class: 'btn', data: { object: 'hide-contour-modal' } %>
    <%= link_to 'Remove', query_concept_path(@query_concept, query_id: @query), method: 'delete', remote: true, class: 'btn btn-danger' %>
  </div>
<% end %>
