<% if @query.query_concepts.size > 0 %>
  <% @query.query_concepts.each do |query_concept| %>
    <% @query_concept = query_concept %>
    <div id="query_concept_<%= @query_concept.id %>">
      <%= render partial: 'query_concepts/show' %>
    </div>
      <% if @query_concept.position < @query_concept.query.query_concepts.size - 1 %>
        <div class="qc-cancel" style="line-height:21px;height:21px">
          <span id="query_concept_<%= @query_concept.id %>_rop_text" class="quiet" onmouseover="$('#query_concept_<%= @query_concept.id %>_right_operator_edit_icon').show();" onmouseout="$('#query_concept_<%= @query_concept.id %>_right_operator_edit_icon').hide();" style="padding-left:<%= [10*(@query_concept.level - @query_concept.right_brackets), 0].max %>px">
            <%= link_to_function @query_concept.right_operator, "$('#query_concept_#{@query_concept.id}_rop_text').hide();$('#query_concept_#{@query_concept.id}_rop_select').show();", style: 'color:#404040;text-decoration:none' %>
            <%= link_to_function image_tag('contour/edit.png', alt: '', style: 'vertical-align:text-bottom'), "$('#query_concept_#{@query_concept.id}_rop_text').hide();$('#query_concept_#{@query_concept.id}_rop_select').show();", id: "query_concept_#{@query_concept.id}_right_operator_edit_icon", style: 'display:none' %>
          </span>
          <span id="query_concept_<%= @query_concept.id %>_rop_select" style="display:none;padding-left:<%= [10*(@query_concept.level - @query_concept.right_brackets), 0].max %>px">
            <%= select_tag "query_concept_#{@query_concept.id}_right_operator", options_for_select(['and', 'or'].collect{|a| [a,a]}, @query_concept.right_operator), style: 'vertical-align:middle', name: 'right_operator', onchange: "changeRightOperator('#query_concept_#{@query_concept.id}_right_operator', #{@query_concept.id});" %>
            <%= link_to_function image_tag('contour/cross.png', alt: '', style: 'vertical-align:text-bottom'), "$('#query_concept_#{@query_concept.id}_rop_text').show();$('#query_concept_#{@query_concept.id}_rop_select').hide();" %>
          </span>
          <br />
        </div>
      <% end %>
  <% end %>
<% else %>
  <div class="quiet"><%= image_tag('contour/blank.png') %></div>
<% end %>
