$("[data-object~='contour_modal_container']").html("<%= escape_javascript(render("query_concepts/popup")) %>");
showContourModal();

<% width = @defaults[:width].to_s.gsub("'", '') %>
<% height = @defaults[:height].to_s.gsub("'", '') %>
$("#variable_<%= @query_concept.variable.id %>_graph").html('<div id="<%= @chart_element_id %>_qc_popup" style="position:relative;width: <%= width %>;height: <%= height %>"></div>');

<% case @chart_type when 'column' %>
  drawHighChartHistogramChart('<%= @chart_element_id %>_qc_popup', <%= @values.to_json.html_safe %>, <%= @defaults.to_json.html_safe %>, <%= @categories.to_json.html_safe %>);
<% when 'pie' %>
  drawHighChartPieChart('<%= @chart_element_id %>_qc_popup', <%= @values.to_json.html_safe %>, <%= @defaults.to_json.html_safe %>);
<% end %>


$('.datepicker').datepicker({ showOtherMonths: true, selectOtherMonths: true, changeMonth: true, changeYear: true });

<% if ['integer', 'numeric'].include?(@query_concept.variable.variable_type) %>
  $('#query_concept_value').popover({
    html: true,
    placement: 'bottom',
    trigger: 'hover',
    title: 'Value Formats',
    content: '<table style="font-size:0.8em" class="table table-condensed table-striped"><thead><tr><th>Format</th><th>Values Returned</th></tr></thead>\
                 <tbody>\
                   <tr><td>&gt; x</td><td>greater than <strong>x</strong></td><td style="border-top:1px solid transparent;border-bottom:1px solid transparent"></td></tr>\
                   <tr><td>[x:y]</td><td><em style="text-decoration:underline">Including Endpoints</em><br />greater than or equal to <strong>x</strong> and <br />less than or equal to <strong>y</strong></td></tr>\
                   <tr><td>&gt;= x</td><td>greater than or equal to <strong>x</strong></td><td style="border-top:1px solid transparent;border-bottom:1px solid transparent"></td></tr>\
                   <tr><td>(x:y)</td><td><em style="text-decoration:underline">Excluding Endpoints</em><br />greater than <strong>x</strong> and <br />less than <strong>y</strong></td></tr>\
                   <tr><td>&lt; x</td><td>less than <strong>x</strong></td><td style="border-top:1px solid transparent;border-bottom:1px solid transparent"></td></tr>\
                   <tr><td>[x:y)</td><td>greater than or equal to <strong>x</strong> and <br />less than <strong>y</strong></td></tr>\
                   <tr><td>&lt;= x</td><td>less than or equal to <strong>x</strong></td><td style="border-top:1px solid transparent;border-bottom:1px solid transparent"></td></tr>\
                   <tr><td>(x:y]</td><td>greater than <strong>x</strong> and <br />less than and equal to <strong>y</strong></td></tr>\
                   <tr><td>x</td><td>exactly equal to <strong>x</strong></td><td style="border-top:1px solid transparent;border-bottom:1px solid transparent"></td></tr>\
                   <tr><td style="white-space:nowrap">(a:b), &gt; c</td><td><em style="text-decoration:underline">Combining Formats</em><br /> (greater than <strong>a</strong> and less than <strong>b</strong>) or <br />greater than <strong>c</strong></td></tr>\
                 </tbody></table>'
  });
<% end %>

$("[data-object='sensitive-tooltip']").popover({
  html: true,
  placement: 'right',
  trigger: 'hover',
  title: '',
  content: '<p class="quiet small">This variable can ONLY be viewed or downloaded if you only have <span class="source_rule_text">view data distribution</span> or <span class="source_rule_text">download dataset</span> respectively.</p>'
});
