<%= link_to 'current configuration', matching_path(cases_id: params[:cases_id], controls_id: params[:controls_id], criteria_id: params[:criteria_id], criteria_two_id: params[:criteria_two_id], criteria_three_id: params[:criteria_three_id], variable_ids: params[:variable_ids], controls_per_case: @controls_per_case), class: 'btn pull-right' %>

<%= link_to 'Download CSV', matching_path(format: 'csv', cases_id: params[:cases_id], controls_id: params[:controls_id], criteria_id: params[:criteria_id], criteria_two_id: params[:criteria_two_id], criteria_three_id: params[:criteria_three_id], variable_ids: params[:variable_ids], controls_per_case: @controls_per_case), class: 'btn pull-right' %>

<% if @cases and @controls %>

  <table class="table table-striped table-hover" style="width:100%">
    <thead>
      <tr>
        <th>Case ID (<%= @matches.collect{|i| i[:id]}.count %>)</th>
        <th>Control ID<%= 's' if @controls_per_case > 1 %> (<%= @matches.collect{|i| i[:matching_ids]}.flatten.count %>)</th>
        <th>Matched on</th>
      </tr>
    </thead>
    <tbody>
      <% @matches.each do |match| %>
      <tr class="<%= (match[:matching_ids].count == 0) ? 'error' : (match[:matching_ids].count < @controls_per_case ? 'warning' : nil) %>">
        <td><%= match[:id] %></td>
        <td><%= match[:matching_ids].join(', ') %></td>
        <td><%= match[:criteria].join(', ') %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
