<% unless @common_identifier %>
  <div class="center">You must have either <span class='source_rule_text'>view data distribution</span> or <span class='source_rule_text'>download dataset</span> to do matching against this data source.</div>
<% else %>

  <% if @cases and @controls %>
    <% total = @matches.count %>
    <% matched = @matches.select{|match| match[:matching_ids].count == @controls_per_case}.count %>
    <% partial = @matches.select{|match| match[:matching_ids].count > 0 and match[:matching_ids].count < @controls_per_case}.count %>
    <% unmatched = @matches.select{|match| match[:matching_ids].count == 0}.count %>

    <% if total > 0 %>
      <div class="progress">
        <div class="bar bar-success" style="width: <%= "%0.04f" % (matched * 100.0 / total) %>%;"><%= "%0.01f" % (matched * 100.0 / total) %>%</div>
        <div class="bar bar-warning" style="width: <%= "%0.04f" % (partial * 100.0 / total) %>%;"><%= "%0.01f" % (partial * 100.0 / total) %>%</div>
        <div class="bar bar-danger" style="width: <%= "%0.04f" % (unmatched * 100.0 / total) %>%;"><%= "%0.01f" % (unmatched * 100.0 / total) %>%</div>
      </div>
    <% end %>
  <div style="clear:both"></div>
  <% end %>

  <%= link_to 'Download CSV', matching_path(format: 'csv', cases_id: params[:cases_id], controls_id: params[:controls_id], criteria_ids: params[:criteria_ids], variable_ids: params[:variable_ids], controls_per_case: @controls_per_case), class: 'btn' %>

  <%= link_to 'Copy Configuration to URL Bar', matching_path(cases_id: params[:cases_id], controls_id: params[:controls_id], criteria_ids: params[:criteria_ids], variable_ids: params[:variable_ids], controls_per_case: @controls_per_case), class: 'btn' %>


  <hr class="soften" style="margin: 20px 0px">

  <% sliceColors = ['#3366cc', '#dc3912', '#ff9900', '#109618', '#66aa00', '#dd4477', '#0099c6', '#990099'] %>


  <% variables_with_values = [] %>

  <% @matching_variables.each_with_index do |variable, index| %>
    <% case_values = @matches.collect{|m| m[:criteria][index]} %>
    <% control_values = @matches.collect{|m| [m[:criteria][index]] * m[:matching_ids].count}.flatten %>
    <% variables_with_values << [variable, case_values, control_values, 'match'] %>
  <% end %>

  <% @extra_variables.each_with_index do |variable, index| %>
    <% case_values = @matches.collect{|m| m[:case_extra][index]} %>
    <% control_values = @matches.collect{|m| m[:extra].collect{|arr| arr[index]}}.flatten %>
    <% variables_with_values << [variable, case_values, control_values, 'extra'] %>
  <% end %>


  <% variables_with_values.each do |variable, case_values, control_values, type| %>
    <div>
      <% case variable.variable_type when 'choices' %>
        <% all_unique_values = (case_values.map(&:to_s).uniq | control_values.map(&:to_s).uniq).sort %>
        <table class="table table-striped table-hover" style="width:100%"><col width="72px"/>
          <thead>
            <tr>
              <th></th>
              <th style="text-align:left"><%= variable.display_name %></th>
              <% all_unique_values.each do |val| %>
                <th style="text-align:left">
                  <span class="count-rot315 <%= 'muted' if val == 'unknown' %>" rel="tooltip" title="<%= val == 'unknown' ? 'Unknown' : val %>"><%= val == 'unknown' ? 'Unknown' : val.truncate(10) %></span>
                </th>
              <% end %>
              <th style="text-align:left">Total</th>
            </tr>
          </thead>
          <tbody>
            <% [["Cases", case_values], ["Controls", control_values]].each do |name, values| %>
            <tr>
              <% case_value_counts = all_unique_values.collect{|val| case_values.select{|v| v.to_s == val}.count} %>
              <% counts = all_unique_values.collect{|val| values.select{|v| v.to_s == val}.count} %>
              <td><span data-object="sparkline" data-type="pie" data-values="<%= counts.to_json %>" style="display:none"></span></td>
              <td><%= name %></td>
              <% counts.each_with_index do |count, count_index| %>
                <td class="<%= (type == 'match' and name == "Controls" and case_value_counts[count_index] != 0 and count == 0) ? 'error' : (type == 'match' and name == "Controls" and case_value_counts[count_index] * @controls_per_case != count ? 'warning' : '') %>">
                  <span style="background-color: <%= sliceColors[count_index % sliceColors.size] %>">&nbsp;</span> <%= count %>
                  <% if type == 'match' and name == "Controls" and (case_value_counts[count_index] * @controls_per_case != count or (case_value_counts[count_index] != 0 and count == 0)) %><span rel="tooltip" title="&lt; <%= case_value_counts[count_index] * @controls_per_case %>" data-placement="right"><i class="icon-exclamation-sign"></i></span><% end %>
                </td>
              <% end %>
              <td class="<%= (type == 'match' and name == "Controls" and case_values.count != 0 and values.count == 0) ? 'error' : (type == 'match' and name == "Controls" and case_values.count * @controls_per_case != values.count ? 'warning' : '') %>">
                <%= values.count %>
                <% if type == 'match' and name == "Controls" and (case_values.count * @controls_per_case != values.count or (case_values.count != 0 and values.count == 0)) %><span rel="tooltip" title="&lt; <%= case_values.count * @controls_per_case %>" data-placement="right"><i class="icon-exclamation-sign"></i></span><% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>

      <% when 'integer', 'numeric' %>
        <table class="table table-striped table-hover" style="width:100%"><col width="72px"/>
          <thead>
            <tr>
              <th></th>
              <th style="text-align:left"><%= variable.display_name %></th>
              <th style="text-align:left"><span class="count-rot315">N</span></th>
              <th style="text-align:left"><span class="count-rot315">Mean</span></th>
              <th style="text-align:left"><span class="count-rot315">StdDev</span></th>
              <th style="text-align:left"><span class="count-rot315">Median</span></th>
              <th style="text-align:left"><span class="count-rot315">Min</span></th>
              <th style="text-align:left"><span class="count-rot315">Max</span></th>
              <th style="text-align:left;" class="muted"><span class="count-rot315">Unknown</span></th>
              <th style="text-align:left">Total</th>
            </tr>
          </thead>
          <tbody>
            <% @overall_min = array_min(case_values.compact + control_values.compact) %>
            <% @overall_max = array_max(case_values.compact + control_values.compact) %>
            <% [["Cases", case_values], ["Controls", control_values]].each do |name, values| %>
              <tr>
                <td><span data-object="sparkline" data-type="box" data-values="<%= values.to_json %>" data-min="<%= @overall_min %>" data-max="<%= @overall_max %>" style="display:none"></span></td>
                <td><%= name %></td>
                <td><%= values.compact.count %></td>
                <td>
                  <% mean = array_mean(values.compact) %>
                  <%= "%0.02f" % mean if mean %>
                </td>
                <td>
                  <% stdev = array_standard_deviation(values.compact) %>
                  <%= ("&plusmn; %0.02f" % stdev).html_safe if stdev %>
                </td>
                <td><%= "%0.02f" % array_median(values.compact) %></td>
                <td><%= "%0.02f" % array_min(values.compact) %></td>
                <td><%= "%0.02f" % array_max(values.compact) %></td>
                <td><%= (values.compact.count == values.count) ? '-' : values.count - values.compact.count %></td>
                <td><%= values.count %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  <% end %>
<% end %>
