<%= form_tag matching_path, method: :get, remote: true, class: 'form-horizontal', data: { object: 'form-load' }, id: 'matching-form' do %>
  <div class="control-group">
    <div class="control-label">Cases</div>
    <div class="controls">
      <%= select_tag :cases_id, options_for_select([['---', nil]] + current_user.all_queries.order('queries.created_at DESC').collect{|q| [q.name, q.id]}, @cases ? @cases.id : nil), data: { object: 'matching-form-option' } %>
    </div>
  </div>

  <div class="control-group">
    <div class="control-label">Controls</div>
    <div class="controls">
      <%= select_tag :controls_id, options_for_select([['---', nil]] + current_user.all_queries.order('queries.created_at DESC').collect{|q| [q.name, q.id]}, @controls ? @controls.id : nil), data: { object: 'matching-form-option' } %>
    </div>
  </div>

  <div class="control-group">
    <div class="control-label">Match on</div>
    <div class="controls">
      <%= select_tag :criteria_id, options_for_select([['---', nil]] + @concepts, params[:criteria_id]), data: { object: 'matching-form-option' } %>
      <%= select_tag :criteria_two_id, options_for_select([['---', nil]] + @concepts, params[:criteria_two_id]), data: { object: 'matching-form-option' } %>
      <%= select_tag :criteria_three_id, options_for_select([['---', nil]] + @concepts, params[:criteria_three_id]), data: { object: 'matching-form-option' } %>
    </div>
  </div>

  <div class="control-group">
    <div class="control-label">Include in Dataset</div>
    <div class="controls">
      <div id="dataset_variable_ids">
        <% (params[:variable_ids].blank? ? [nil] : params[:variable_ids]).each do |variable_id| %>
          <%= render partial: 'matching/variable_selection', locals: { variable_id: variable_id } %>
        <% end %>
      </div>
      <%= link_to 'add more', '#', data: { object: 'variable_add' } %>
    </div>
  </div>

  <div class="control-group">
    <div class="control-label">Controls Per Case</div>
    <div class="controls sheet-container">
      <% [1,2,3,4].each do |count| %>
        <label class="radio inline <%= 'selected' if @controls_per_case == count %>"><%= radio_button_tag :controls_per_case, count, @controls_per_case == count, data: { object: 'matching-form-option' } %> <%= count %></label>
      <% end %>
    </div>
  </div>

  <div class="form-actions">
    <%= submit_tag "Refresh", class: 'btn btn-primary' %>
  </div>
<% end %>

<hr />

<div id="matching"><div class="center"><%= image_tag "contour/ajax-loader.gif" %></div></div>
