<% if @criterium.variable.domain %>
  <div class="form-group">
    <%= f.label :value, nil, class: 'col-md-2 control-label' %>
    <div class="controls sheet-container">
      <div style="margin-bottom:5px">
        <%= link_to simple_check(true) + ' Select All', '#', data: { object: 'categorical-check-all' }, class: 'btn btn-mini' %>
        <%= link_to simple_check(false) + ' Deselect All', '#', data: { object: 'categorical-uncheck-all' }, class: 'btn btn-mini' %>
      </div>
      <% @criterium.variable.domain.options.each do |option| %>
        <% selected = @criterium.value.to_s.split(',').include?(option[:value].to_s) %>
        <label class="checkbox <%= 'selected' if selected %>"><%= check_box_tag "values[]", option[:value], selected, class: 'choices' %> <%= option[:display_name] %></label>
      <% end %>
    </div>
  </div>
<% end %>
