<%= render partial: 'contour/layouts/per_page', locals: { type: 'dictionaries', per_page: 20, object_count: @dictionaries.total_count } %>

<table class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'dictionaries.name', 'Name', 'dictionaries_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'dictionaries.user_id', 'Creator', 'dictionaries_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'dictionaries.visible', 'Visible', 'dictionaries_search') %></th>
      <th>Variables</th>
      <th>Domains</th>
      <th>Actions</th>
    </tr>
  </thead>

  <% @dictionaries.each do |dictionary| %>
    <tr>
      <td><%= link_to dictionary.name, dictionary %></td>
      <td><%= link_to dictionary.user.name, dictionary.user if dictionary.user %></td>
      <td><%= dictionary.visible %></td>
      <td><%= link_to dictionary.variables.size, dictionary_variables_path(dictionary) %></td>
      <td><%= link_to dictionary.domains.size, dictionary_domains_path(dictionary) %></td>
      <td>
        <%= link_to 'Edit', edit_dictionary_path(dictionary), class: 'btn btn-mini' %>
        <%= link_to 'Delete', dictionary, data: { confirm: "Are you sure you want to delete Dictionary #{dictionary.name}?" }, method: :delete, class: 'btn btn-mini btn-danger-inverse' %>
      </td>
    </tr>
  <% end %>
</table>

<center><%= paginate @dictionaries, theme: "contour" %></center>
