<%= render partial: 'layouts/expand_popup' %>
<div id="accordion" style="position:relative;height:100%;float:left;clear:right">
	<h3><a href="#"><%= @report.name %> (<span id="report_concepts_num"><%= pluralize @report.report_concepts.size, 'concept' %></span>)</a></h3>
	<div>
	<% unless @report.is_dataset? %>
	  <div id="report_configuration">
	    <%= render 'reports/configuration' %>
    </div>

	  <div id="report_table">
	    <%= link_to 'Reload Report', '#', data: { object: 'submit', target: '#report_table_form'} %>
	  </div>
	  <br />
	<% end %>
  <div id="report_concepts">
    <%= render partial: 'report_concepts/report_concepts' %>
  </div>


	</div>
	<h3><a href="#" id="concept_title">Concept Information</a></h3>
	<div id="popup_info"></div>
<% if false %>
  	<h3><a href="#" id="report_title">Report Table</a></h3>
  	<div></div>
<% end %>
</div>
