<% if @report.report_concepts.size == 0 %>
  <% report_type = @report.is_dataset? ? 'dataset' : 'report' %>
  <center><%= image_tag("contour/warning.png", style: "vertical-align:text-bottom") %> You currently have no concepts selected for this <%= report_type %>. Add concepts to your <%= report_type %> by selecting them above.</center>
  <br />
<% elsif @report.is_dataset? %>
  <table style="width:100%" class="padded blank"><col width="50%"/><col width="50%"/>
    <tr>
      <td style="vertical-align:top">
        <%= link_to image_tag("contour/xls.png", align: 'absmiddle', alt: '') + 'Download CSV', get_csv_report_path(@report, query_id: @query.id), method: :post, class: 'button', target: '_blank' %>
        <div style="clear:both"></div>
        <br />
        <%= params[:report_id] = @report.id; params[:add_report_id] = @report.id; render partial: 'concepts/folders' %>
      </td>
      <td style="vertical-align:top">

      </td>
    </tr>
  </table>
<% end %>
