<li class="ui-state-default faded_delete_icon bubble" id="report_concept_<%= @report_concept.id %>" data-image-id="report_concept_<%= @report_concept.id %>_delete_icon">
  <span class="glypicon glyphicon-move" style="cursor:move"></span>
  <%= @report_concept.variable.display_name %>

  <% @report_concept.statistic = (@report_concept.variable.variable_type == 'date' ? 'month' : 'all') if @report_concept.statistic.blank? %>

  <%= link_to 'edit', '#', data: { object: 'toggle', target: "#report_concept_#{@report_concept.id}_options" }, class: 'btn btn-xs btn-default' %>
  <%= link_to 'remove', @report_concept, method: :delete, remote: true, id: "report_concept_#{@report_concept.id}_delete_icon", data: { confirm: "Are you sure you want to remove this concept from Report #{@report.name}?" }, class: 'btn btn-xs btn-danger-inverse' %>

  <div id="report_concept_<%= @report_concept.id %>_options" style="display:none">
    <% if ['integer', 'numeric', 'choices', 'date'].include?(@report_concept.variable.variable_type) %>
      <%= form_tag report_concept_path(@report_concept, search_id: @search.id), method: :put, remote: true, id: "report_concept_#{@report_concept.id}_form" do %>
        <div class="sheet-container">
          <% statistics = ['integer', 'numeric'].include?(@report_concept.variable.variable_type) ? ReportConcept::STATISTIC.collect{|a,b| a} : ['all', 'count', 'percent'] %>
          <% statistics = ['year', 'month', 'week', 'day'] if @report_concept.variable.variable_type == 'date' %>
          <% statistics.each do |statistic, s2| %>
            <label class="radio"><%= radio_button :report_concept, :statistic, statistic, onchange: "showWaiting('#report_table', ' Loading Report', true);$('#report_concept_#{@report_concept.id}_form').submit();" %> <%= statistic %></label>
          <% end %>
        </div>

        <div class="form-group" style="<%= 'display:none' if @report_concept.variable.sources.uniq.size < 2 %>">
          <label class="control-label">At</label>
          <div class="controls sheet-container">
            <% @report_concept.variable.sources.uniq.each do |source| %>
              <label class="radio <%= 'selected' if @report_concept.source == source %>"><%= radio_button_tag "report_concept[source_id]", source.id, @report_concept.source == source, onchange: "showWaiting('#report_table', ' Loading Report', true);$('#report_concept_#{@report_concept.id}_form').submit();" %> <%= source.name %></label>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      No Options for <%= @report_concept.variable.variable_type %>
    <% end %>
  </div>
</li>
