<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_for @source_file_type, html: { class: 'form-horizontal' } do |f| %>
  <% if @source_file_type.errors.any? %>
    <div id="error_explanation" class="bs-callout bs-callout-danger">
      <h4><%= pluralize(@source_file_type.errors.count, "error") %> prohibited this source_file_type from being saved</h4>

      <ul>
      <% @source_file_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :source_id, @source.id %>

  <div class="form-group">
    <%= f.label :file_type_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.select :file_type_id, options_for_select([['---', nil]] + (FileType.available - @source.file_types + (@source_file_type.file_type ? [@source_file_type.file_type] : [])).collect{|ft| [ft.name_and_extension, ft.id]}, @source_file_type.file_type_id), {}, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= cancel %>
    </div>
  </div>
<% end %>
