<%= render partial: 'contour/layouts/per_page', locals: { type: 'source_file_types', per_page: 20 } %>

<table class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'source_file_types.file_type_id', 'File Type', 'source_file_types_search') %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <% @source_file_types.each do |source_file_type| %>
    <tr>
      <td><%= link_to source_file_type.file_type.name, source_file_type.file_type if source_file_type.file_type %></td>
      <td>
        <%= link_to 'Edit', edit_source_file_type_path(source_file_type), class: 'btn btn-mini' %>
        <%= link_to 'Delete', source_file_type_path(source_file_type, source_id: source_file_type.source.id), confirm: "Are you sure you want to delete Source File Type #{source_file_type.name}?", method: :delete, class: 'btn btn-mini btn-danger' %>
      </td>
    </tr>
  <% end %>
</table>

<center><%= paginate @source_file_types %></center>
