<% @title = "#{@source.name} File Types" %>
<div class="page-header">
  <h1>
    <%= link_to 'Sources', sources_path %> &middot; <%= link_to @source.name, @source %> &middot; File Types
    <%= link_to "Associate File Type", new_source_file_type_path(source_id: @source.id), class: 'btn btn-mini btn-primary' %>
  </h1>
</div>

<%= form_tag source_file_types_path(source_id: @source.id), method: :get, remote: true, id: "source_file_types_search", class: 'form-search', data: { object: 'form-load' } do %>
  <%= hidden_field_tag :order %>
  <%= text_field_tag 'search', params[:search], class: 'search-query' %>
  <%= submit_tag 'Search', class: 'btn btn-primary' %>
<% end %>

<div id="source_file_types"><center><%= image_tag "contour/ajax-loader.gif" %></center></div>
