<% @title = "Search" %>

<div class="page-header">
  <h1>
    <%= link_to 'Searches', searches_path %> &middot;
    <span id="search_<%= @search.id %>_name"><%= render partial: 'searches/name' %></span>
  </h1>
</div>

<div id="contour-backdrop" style="display:none"></div>

<div class="contour-modal-wrapper" data-object="contour_modal_wrapper" style="display:none">
  <div class="contour-modal" data-object="contour_modal_container"></div>
</div>

<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label">From</label>
    <div class="controls" style="white-space:nowrap">
      <%= text_field_tag :source, '', name: 'search', tabindex: '1', data: { search_id: @search.id } %>
      <%= link_to 'Browse All Sources', sources_path(popup: true, search_id: @search.id), remote: true, class: 'btn btn-mini', style: 'margin: 3px 0px;' %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls" id="query_sources">
      <%= render partial: 'query_sources/query_sources' %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">With</label>
    <div class="controls" style="white-space:nowrap">
      <%= text_field_tag 'variable_search', '', tabindex: '2', data: { search_id: @search.id } %>
      <%= link_to 'Browse All Variables', variables_popup_search_path(@search), method: :get, remote: true, class: 'btn btn-mini', style: 'margin: 3px 0px;' %>
    </div>
  </div>
</form>

<%= form_tag right_operator_criteria_path(search_id: @search.id), method: :post, remote: true, id: 'right_operator_criteria_form' do %>
  <%= hidden_field_tag :selected_right_operator_criterium_id, '', name: 'criterium_id' %>
  <%= hidden_field_tag :criterium_right_operator, '', name: 'right_operator' %>
<% end %>

<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label">Tools</label>
    <div class="controls" style="padding-top:4px">
      <%= link_to image_tag('gentleface/checkbox_checked.png'), select_all_criteria_path(search_id: @search.id, selected: true), method: :post, remote: true, rel: 'tooltip', title: 'Select All Filters' %>
      <%= link_to image_tag('gentleface/checkbox_unchecked.png'), select_all_criteria_path(search_id: @search.id, selected: false), method: :post, remote: true, rel: 'tooltip', title: 'Deselect All Filters' %>
      <span class="space"></span>
      <%= link_to image_tag('gentleface/indent_increase.png'), indent_criteria_path(search_id: @search.id, indent: 1), method: :post, remote: true, rel: 'tooltip', title: 'Increase Indent' %>
      <%= link_to image_tag('gentleface/indent_decrease.png'), indent_criteria_path(search_id: @search.id, indent: -1), method: :post, remote: true, rel: 'tooltip', title: 'Decrease Indent' %>
      <span class="space"></span>
      <%= link_to image_tag('gentleface/clipboard_copy.png'), copy_selected_criteria_path(search_id: @search.id), method: :post, remote: true, rel: 'tooltip', title: 'Copy Selected Filters' %>
      <span class="space"></span>
      <%= link_to image_tag("gentleface/undo#{'_q' unless @search.undo?}.png", id: 'undo_img', 'data-img-disabled' => image_path("gentleface/undo_q.png"), 'data-img-enabled' => image_path("gentleface/undo.png")), undo_search_path(@search), method: :post, remote: true, id: 'undo', rel: 'tooltip', title: 'Undo Last Change' %>
      <%= link_to image_tag("gentleface/redo#{'_q' unless @search.redo?}.png", id: 'redo_img', 'data-img-disabled' => image_path("gentleface/redo_q.png"), 'data-img-enabled' => image_path("gentleface/redo.png")), redo_search_path(@search), method: :post, remote: true, id: 'redo', rel: 'tooltip', title: 'Redo Last Change' %>
      <span class="space"></span>
      <%= link_to image_tag('gentleface/trash.png'), trash_selected_criteria_path(search_id: @search.id), method: :post, remote: true, rel: 'tooltip', title: 'Remove Selected Filters' %>
    </div>
  </div>
</form>

<div class="row-fluid">
  <div class="span9">
    <%= form_tag reorder_search_path(@search), method: :post, remote: true, id: 'criteria_form', class: 'form-horizontal' do %>
      <div id="criteria"><%= render partial: 'criteria/criteria' %></div>
    <% end %>
  </div>

  <div class="span3">
    <div class="download-container" style="padding-bottom:0px;min-height:100px">
      <div class="download-container-after">Total</div>
      <h1>
        <div id="total_records_found_display" class="records_found center"></div>
      </h1>
    </div>

    <span id="total_errors_found" class="errors_found"></span>
  </div>
</div>

<%= form_tag total_records_count_search_path(@search), method: :post, remote: true, id: 'search_form', style: 'display:inline', onsubmit: "showWaiting('#total_records_found_display', ' ', true)" do %>
<% end %>

<div id="information" style="display:none"></div>

<div id="inlaid_report"></div>
