$("#information").html("<%= escape_javascript(render("total_records_count")) %>");

$(".errors_found").html("");

<% @overall_totals.each do |grouping,totals| %>
  <% totals.collect{|hash| hash[:count]} %>
  <% grouping_name = (grouping == nil ? 'total_records_found' : grouping) %>
  $('#<%= grouping_name %>_display').html('');
  <% totals.each do |hash| %>
    $('#<%= grouping_name %>_display').append('<div><%= number_with_delimiter(hash[:count]) %> <% if grouping == nil %><div class="total-description"><%= hash[:variable].display_name.pluralize %></div><% end %></div>');
  <% end %>
<% end %>
<% @overall_errors.each do |grouping,error| %>
  <% if grouping == nil %>
    $('#total_errors_found').html("<div class='alert alert-warning'><%= escape_javascript(error.html_safe) %></div>");
  <% else %>
    $('#<%= grouping %>_errors').html("<span class='label label-warning' style='white-space:normal'><%= escape_javascript(error.html_safe) %></span>");
  <% end %>
<% end %>
