<%= render partial: 'contour/layouts/per_page', locals: { type: 'concepts', per_page: 20, object_count: @concept_count } %>

<table class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'concepts.search_name', 'Name', 'concepts_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'concepts.concept_type', 'Concept Type', 'concepts_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'concepts.folder', 'Folder', 'concepts_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'concepts.dictionary_id', 'Dictionary', 'concepts_search') %></th>
    </tr>
  </thead>

  <% @concepts.each do |concept| %>
    <tr>
      <td><%= link_to concept.human_name, concept %></td>
      <td><%= concept.concept_type %></td>
      <td><%= concept.folder %></td>
      <td><%= link_to concept.dictionary.name, concept.dictionary if concept.dictionary %></td>
    </tr>
  <% end %>
</table>

<center><%= paginate @concepts, theme: "contour" %></center>
