<%= render partial: 'contour/layouts/per_page', locals: { type: 'concepts', per_page: 20, object_count: @concept_count } %>

<table class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'concepts.search_name', 'Name', 'concepts_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'concepts.concept_type', 'Concept Type', 'concepts_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'concepts.folder', 'Folder', 'concepts_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'concepts.dictionary_id', 'Dictionary', 'concepts_search') %></th>

      <% if false %>
        <th style="white-space:nowrap"><%== sort_field_helper(@order, 'concepts.display_name', 'Display Name', 'concepts_search') %></th>
        <th style="white-space:nowrap"><%== sort_field_helper(@order, 'concepts.search_name', 'Search Name', 'concepts_search') %></th>
        <th style="white-space:nowrap"><%== sort_field_helper(@order, 'concepts.short_name', 'Short Name', 'concepts_search') %></th>
        <th style="white-space:nowrap"><%== sort_field_helper(@order, 'concepts.namespace', 'Namespace', 'concepts_search') %></th>
        <th style="white-space:nowrap"><%== sort_field_helper(@order, 'concepts.uri', 'Uri', 'concepts_search') %></th>
        <th style="white-space:nowrap"><%== sort_field_helper(@order, 'concepts.version', 'Version', 'concepts_search') %></th>
        <th style="white-space:nowrap"><%== sort_field_helper(@order, 'concepts.description', 'Description', 'concepts_search') %></th>
        <th style="white-space:nowrap"><%== sort_field_helper(@order, 'concepts.units', 'Units', 'concepts_search') %></th>
        <th style="white-space:nowrap"><%== sort_field_helper(@order, 'concepts.unit_type', 'Unit Type', 'concepts_search') %></th>
        <th style="white-space:nowrap"><%== sort_field_helper(@order, 'concepts.status', 'Status', 'concepts_search') %></th>
        <th style="white-space:nowrap"><%== sort_field_helper(@order, 'concepts.data_type', 'Data Type', 'concepts_search') %></th>
        <th style="white-space:nowrap"><%== sort_field_helper(@order, 'concepts.formula', 'Formula', 'concepts_search') %></th>
        <th style="white-space:nowrap"><%== sort_field_helper(@order, 'concepts.source_file', 'Source File', 'concepts_search') %></th>
        <th style="white-space:nowrap"><%== sort_field_helper(@order, 'concepts.sensitivity', 'Sensitivity', 'concepts_search') %></th>
        <th style="white-space:nowrap"><%== sort_field_helper(@order, 'concepts.commonly_used', 'Commonly Used', 'concepts_search') %></th>
        <th style="white-space:nowrap"><%== sort_field_helper(@order, 'concepts.source_name', 'Source Name', 'concepts_search') %></th>
        <th style="white-space:nowrap"><%== sort_field_helper(@order, 'concepts.source_description', 'Source Description', 'concepts_search') %></th>
        <th>Actions</th>
      <% end %>
    </tr>
  </thead>

  <% @concepts.each do |concept| %>
    <tr>
      <td><%= link_to concept.human_name, concept %></td>
      <td><%= concept.concept_type %></td>
      <td><%= concept.folder %></td>
      <td><%= link_to concept.dictionary.name, concept.dictionary if concept.dictionary %></td>

      <% if false %>
        <td><%= concept.display_name %></td>
        <td><%= concept.search_name %></td>
        <td><%= concept.short_name %></td>
        <td><%= concept.namespace %></td>
        <td><%= concept.uri %></td>
        <td><%= concept.version %></td>
        <td><%= concept.description %></td>
        <td><%= concept.units %></td>
        <td><%= concept.unit_type %></td>
        <td><%= concept.status %></td>
        <td><%= concept.data_type %></td>
        <td><%= concept.formula %></td>
        <td><%= concept.source_file %></td>
        <td><%= concept.sensitivity %></td>
        <td><%= concept.commonly_used %></td>
        <td><%= concept.source_name %></td>
        <td><%= concept.source_description %></td>
        <td>
          <%= link_to 'Edit', edit_concept_path(concept), class: 'btn btn-mini' %>
          <%= link_to 'Delete', concept, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Concept #{concept.name}?" } %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<center><%= paginate @concepts, theme: "contour" %></center>
