<span onclick="$('#<%= @folder_id %>_content').toggle();if($('#<%= @folder_id %>_content').is(':visible')){$('#<%= @folder_id %>_link_img').attr('class', 'icon-folder-open');}else{$('#<%= @folder_id %>_link_img').attr('class', 'icon-folder-close');}" style="cursor:pointer;">
  <i class="icon-folder-open" id="<%= @folder_id %>_link_img"></i>
  <span class="nolink"><%= @folder_title %></span>
</span>
