<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_for @concept, html: { class: 'form-horizontal' } do |f| %>
  <% if @concept.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@concept.errors.count, "error") %> prohibited this concept from being saved:</h2>

      <ul>
      <% @concept.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :dictionary_id, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.select :dictionary_id, [['---', nil]] + Dictionary.current.collect{|d| [d.name, d.id]} %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :folder, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :folder %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :short_name, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :short_name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :display_name, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :display_name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :search_name, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :search_name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :version, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :version %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, rows: 7, style: 'width:95%' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :concept_type, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :concept_type %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :units, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :units %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :status, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :status %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :formula, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :formula %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :source_file, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :source_file %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :sensitivity, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :sensitivity %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :commonly_used, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.check_box :commonly_used %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :source_name, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :source_name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :source_description, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :source_description, rows: 7, style: 'width:95%' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= cancel %>
  </div>
<% end %>
