<% @title = ["Concepts", @dictionary ? @dictionary.name : nil].compact.join(' - ') %>
<div class="page-header">
  <h1>
    <%= @title %>
    <% if current_user.system_admin? and false %>
      <%= link_to "Create Concept", new_concept_path, class: 'btn btn-mini btn-primary' %>
    <% end %>
    <% if @dictionary %>
      <%= link_to "Dictionary: #{@dictionary.name} CSV File", export_to_csv_dictionary_path(@dictionary), class: 'btn btn-mini' %>
    <% end %>
  </h1>
</div>

<%= form_tag concepts_path, method: :get, remote: true, id: "concepts_search", class: 'form-search' do %>
  <%= hidden_field_tag :order %>
  <%= text_field_tag 'search', params[:search], class: 'search-query' %>
  <%= submit_tag 'Search', class: 'btn btn-primary' %>
<% end %>

<div id="concepts"><center><%= image_tag "contour/ajax-loader.gif" %></center></div>

<%= javascript_tag do %>
  $(function(){
    $.get($("#concepts_search").attr("action"), $("#concepts_search").serialize(), null, "script");
  });
<% end %>
