$("#concept_info").html("<%= escape_javascript(render("info")) %>");


<% if @mapping and (@concept.continuous? or @concept.date? or @concept.categorical? or @concept.boolean?) %>
  <% width = @defaults[:width].to_s.gsub("'", '') %>
  <% height = @defaults[:height].to_s.gsub("'", '') %>
  $("#distribution").html('<div><div id="<%= @chart_element_id %>" style="width: <%= width %>;height: <%= height %>"></div></div><%= escape_javascript(@stats.to_s.html_safe) %>');

  <% case @chart_type when 'column' %>
    drawHighChartHistogramChart('<%= @chart_element_id %>', <%= options_for_javascript(@values).html_safe %>, <%= options_for_javascript(@defaults).html_safe %>, <%= ("[" + @categories.join(',') + "]").html_safe %>);
  <% when 'pie' %>
    drawHighChartPieChart('<%= @chart_element_id %>', <%= options_for_javascript(@values).html_safe %>, <%= options_for_javascript(@defaults).html_safe %>);
  <% end %>

<% end %>

