if(window.popupStatus == 0){
  $("#popup").css({
    "width": "816px" //"408px"
  });
  $("#popup_title").html("<%= escape_javascript(image_tag('gentleface/16/folder_open.png', align: 'absmiddle', alt: '')) %> Concepts")
  $("#popup_content").html("<div id='popup_content_left'>Left</div><div id='popup_content_right' style='width:412px'><div id='popup_info'></div></div><div style='clear:both'></div>");
  $("#popup_content_left").html("<%= escape_javascript(render("concepts/folder_search") + '<div id="concept_folders">'.html_safe + render("concepts/folders") + '</div>'.html_safe) %>");
  $(document.body).qtip('hide');
}

$("#popup_info").html("<%= escape_javascript(render("info")) %>");
centerPopup();


$('#accordion').accordion( "activate" , 1 );

<% if @mapping and (@concept.continuous? or @concept.date? or @concept.categorical? or @concept.boolean?) %>
  <% width = @defaults[:width].to_s.gsub("'", '') %>
  <% height = @defaults[:height].to_s.gsub("'", '') %>
  $("#distribution").html('<div><div id="<%= @chart_element_id %>" style="width: <%= width %>;height: <%= height %>"></div></div><%= escape_javascript(@stats.to_s.html_safe) %>');


  <% case @chart_type when 'column' %>
    drawHighChartHistogramChart('<%= @chart_element_id %>', <%= options_for_javascript(@values) %>, <%= options_for_javascript(@defaults) %>, <%= "[" + @categories.join(',') + "]" %>);
  <% when 'pie' %>
    drawHighChartPieChart('<%= @chart_element_id %>', <%= options_for_javascript(@values) %>, <%= options_for_javascript(@defaults) %>);
  <% when 'scatter' %>
    drawHighChartScatterChart('<%= @chart_element_id %>', <%= @values %>, <%= options_for_javascript(@defaults) %>);
  <% when 'categorical_vs_continuous' %>
    drawHighChartScatterChart('<%= @chart_element_id %>', <%= @values %>, <%= options_for_javascript(@defaults) %>);
  <% when 'continuous_vs_categorical' %>
    drawHighChartScatterChart('<%= @chart_element_id %>', <%= @values %>, <%= options_for_javascript(@defaults) %>);
  <% when 'categorical_vs_categorical' %>
    drawHighChartScatterChart('<%= @chart_element_id %>', <%= @values %>, <%= options_for_javascript(@defaults) %>);
  <% end %>
<% end %>

$("#popup_info").css({
  "padding-left": "8px"
})

$("#concept_title").html("<%= escape_javascript(@concept.human_name) %>");
