showContourModal();

if ($("#concept_info").length == 0) {
  $("[data-object~='contour_modal_container']").html("<%= escape_javascript(render("concepts/popup")) %>");
  $("#concept_folder_search").html("<%= escape_javascript(render("concepts/folder_search")) %>");
  $("#concept_folders").html("<%= escape_javascript(render("concepts/folders")) %>");
}


$("#concept_info").html("<%= escape_javascript(render("info")) %>");

$('html, body').animate({ scrollTop: $(".contour-modal-wrapper").offset().top - 40 }, 'fast');


<% if @mapping and (@concept.continuous? or @concept.date? or @concept.categorical? or @concept.boolean?) %>
  <% width = @defaults[:width].to_s.gsub("'", '') %>
  <% height = @defaults[:height].to_s.gsub("'", '') %>
  $("#distribution").html('<div><div id="<%= @chart_element_id %>" style="width: <%= width %>;height: <%= height %>"></div></div><%= escape_javascript(@stats.to_s.html_safe) %>');


  <% case @chart_type when 'column' %>
    drawHighChartHistogramChart('<%= @chart_element_id %>', <%= @values.to_json.html_safe %>, <%= @defaults.to_json.html_safe %>, <%= @categories.to_json.html_safe %>);
  <% when 'pie' %>
    drawHighChartPieChart('<%= @chart_element_id %>', <%= @values.to_json.html_safe %>, <%= @defaults.to_json.html_safe %>);
  <% end %>

<% end %>

