<% @title = "Concept: #{@concept.name}" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <%#= link_to "Edit Concept", edit_concept_path(@concept), class: 'btn btn-mini' %>
    <%#= link_to "Delete Concept", @concept, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Concept #{@concept.name}?" } %>
    <%= link_to "View Concepts", concepts_path, class: 'btn btn-mini' %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>Dictionary</dt>
  <dd><%= link_to @concept.dictionary.name, @concept.dictionary if @concept.dictionary %></dd>

  <dt>Display Name</dt>
  <dd><%= @concept.display_name %></dd>

  <dt>Search Name</dt>
  <dd><%= @concept.search_name %></dd>

  <dt>Short Name</dt>
  <dd><%= @concept.short_name %></dd>

  <dt>Namespace</dt>
  <dd><%= @concept.namespace %></dd>

  <dt>Uri</dt>
  <dd><%= @concept.uri %></dd>

  <dt>Name</dt>
  <dd><%= @concept.name %></dd>

  <dt>Version</dt>
  <dd><%= @concept.version %></dd>

  <dt>Description</dt>
  <dd><%= simple_format @concept.description %></dd>

  <dt>Concept Type</dt>
  <dd><%= @concept.concept_type %></dd>

  <dt>Units</dt>
  <dd><%= @concept.units %></dd>

  <dt>Unit Type</dt>
  <dd><%= @concept.unit_type %></dd>

  <dt>Status</dt>
  <dd><%= @concept.status %></dd>

  <dt>Data Type</dt>
  <dd><%= @concept.data_type %></dd>

  <dt>Formula</dt>
  <dd><%= @concept.formula %></dd>

  <dt>Source File</dt>
  <dd><%= @concept.source_file %></dd>

  <dt>Sensitivity</dt>
  <dd><%= @concept.sensitivity %></dd>

  <dt>Commonly Used</dt>
  <dd><%= @concept.commonly_used %></dd>

  <dt>Folder</dt>
  <dd><%= @concept.folder %></dd>

  <dt>Source Name</dt>
  <dd><%= @concept.source_name %></dd>

  <dt>Source Description</dt>
  <dd><%= simple_format @concept.source_description %></dd>

  <% if @concept.parents.size > 0 %>
    <dt>Parents</dt>
    <dd>
      <ul>
        <% @concept.parents.each do |parent| %>
          <li><%= link_to parent.human_name, parent %></li>
        <% end %>
      </ul>
    </dd>
  <% end %>

  <% if @concept.children.size > 0 %>
    <dt>Children</dt>
    <dd>
      <ul>
        <% @concept.children.each do |child| %>
          <li><%= link_to child.human_name, child %></li>
        <% end %>
      </ul>
    </dd>
  <% end %>

</dl>

<%= render partial: 'concepts/info' %>
