<div class="page-header">
  <h1>
    Automap Column
    <small><%= params[:column] %></small>
  </h1>
</div>

<% most_used_dictionary = @source.primary_dictionary %>
<% variable_scope = Variable.current.where( 'LOWER(name) = ?', params[:column].to_s.downcase ) %>
<% if most_used_dictionary %>
  <% variables = variable_scope.order("(dictionary_id = #{most_used_dictionary.id}) = 't' DESC", :name) %>
<% else %>
  <% variables = variable_scope.order(:dictionary_id, :name) %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th style="text-align:left">Name</th>
      <th style="text-align:left">Display Name and Tags</th>
      <th style="text-align:left">Type</th>
      <th style="text-align:left">Dictionary</th>
    </tr>
  </thead>
  <tbody>
    <% variables.each do |variable| %>
      <tr class="<%= 'info' if variable.dictionary == most_used_dictionary %>">
        <td><%= link_to 'Automap', mappings_path(source_id: @source.id, mapping: { variable_id: variable.id, table: params[:table], column: params[:column] } ), method: :post, remote: true, class: 'btn btn-primary btn-mini' %></td>
        <td><%= variable.name %></td>
        <td>
          <%= variable.display_name %>
          <% variable.tags.each do |tag| %>
            <span class="label"><%= tag.name %></span>
          <% end %>
        </td>
        <td><%= variable.variable_type %></td>
        <td><%= variable.dictionary.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr class="soften" style="margin-top:20px;" />

<div class="button-group pull-right">
  <%= button_tag 'Cancel', data: { object: 'hide-contour-modal' }, class: 'btn' %>
</div>


