<td>
  <%= @mapping.column %>
</td>
<td>
  <form id="mapping-<%= @mapping.id %>-form">
    <% if @mapping.concept %>
      <p><%= @mapping.concept.human_name %></p>
      <% case @mapping.concept.concept_type when 'categorical' %>
        <table>
          <% @mapping.column_values(current_user).each do |column_value| %>
            <tr>
              <td>
                <% val_mapping = @mapping.source.mappings.where( table: @mapping.table, column: @mapping.column, column_value: (column_value == nil) ? 'NULL' : column_value.to_s).first_or_create %>
                <% dccv_default = nil %>
                <% if val_mapping %>
                  <% if val_mapping.concept and val_mapping.concept != @mapping.concept %>
                    <% dccv_default = val_mapping.concept_id %>
                  <% else %>
                    <% dccv_default = val_mapping.value %>
                  <% end %>
                <% end %>
                <%= hidden_field_tag "mapping[column_values][][column_value]", column_value %>
                <%= hidden_field_tag "mapping[column_values][][is_null]", (column_value == nil) %>
                <% if column_value == nil %>
                  <span class="muted">NULL</span>
                <% else %>
                  <span class="muted">'</span><%= column_value %><span class="muted">'</span>
                <% end %>
              </td>
              <td>
                <%= select_tag "mapping[column_values][][value]", options_for_select([['----',nil], ["Unknown #{@mapping.concept.human_name}", 'unknown']] + @mapping.concept.recommended_concepts.collect{|item| [item.human_name, item.id]}, dccv_default), style: 'width:180px' %>
              </td>
            </tr>
          <% end %>
        </table>
      <% when 'boolean' %>
        Boolean: Please Map True and False<br />
        <% @mapping.column_values(current_user).each do |column_value| %>
          <% val_mapping = @mapping.source.mappings.where( table: @mapping.table, column: @mapping.column, column_value: (column_value == nil) ? 'NULL' : column_value.to_s).first_or_create %>
          <%= hidden_field_tag "mapping[column_values][][column_value]", column_value %>
          <%= hidden_field_tag "mapping[column_values][][is_null]", (column_value == nil) %>
          <% if column_value == nil %>
            <span class="muted">NULL</span>
          <% else %>
            <span class="muted">'</span><%= column_value %><span class="muted">'</span>
          <% end %>
          <%= select_tag "mapping[column_values][value]", options_for_select([['----',nil], ['unknown', 'unknown'], ['true','true'],['false','false']] + @mapping.concept.recommended_concepts.collect{|item| [item.human_name, item.id]}, val_mapping ? val_mapping.value.to_s : nil) %><br />
        <% end %>
      <% end %>
    <% end %>
  </form>
</td>
