<%= form_tag update_multiple_mappings_path(source_id: @source.id, table: params[:table]), remote: true, method: :post, id: "mappings_form" do %>
  <%= hidden_field_tag 'selected_mapping_id' %>
  <table class="table" style="width:100%"><col width="1px"/><col width="200px"/>
    <tr>
      <th></th>
      <th style="text-align:left">Column Name</th>
      <th style="text-align:left">Concept</th>
      <th>Actions</th>
    </tr>
    <% @columns.each do |column_data| %>
      <% @column = column_data[:column] %>
      <% @mapping = @source.mappings.find_by_column_and_table(@column, params[:table]) %>
      <tbody id="mapping_form_<%= @column.gsub(' ', '_') %>">
        <% if @source.user_has_action?(current_user, "edit data source mappings") %>
          <% if @mapping and ((@mapping.mapped? and params[:filter_unmapped] != '1') or @mapping.status == 'outdated') %>
            <%= render partial: 'mappings/show' %>
          <% elsif @mapping and not @mapping.deleted? %>
            <%= render partial: 'mappings/edit' %>
          <% else %>
            <%= render partial: 'mappings/new' %>
          <% end %>
        <% end %>
      </tbody>
    <% end %>
  </table>
<% end %>
