<tr class="search_no_border">
  <td valign="top" style="white-space:nowrap">
    <%= link_to 'info', info_mapping_path(@mapping, source_id: @mapping.source.id), method: :post, remote: true, with: "'show=' + $('#mapping_#{@mapping.column.gsub(' ', '_')}_stats').is(':visible')", before: "$('#mapping_#{@mapping.column.gsub(' ', '_')}_stats').toggle(); this.src = ($('#mapping_#{@mapping.column.gsub(' ', '_')}_stats').is(':visible') ? '#{request.script_name}/assets/contour/down.png' : '#{request.script_name}/assets/contour/right.png')", class: 'btn btn-xs btn-default' %>
  </td>
  <td valign="top">
    <%= @mapping.column %>
  </td>
  <td valign="top">
    <%= link_to @mapping.variable.display_name, [@mapping.variable.dictionary, @mapping.variable], target: '_blank' %>
    <% unless @mapping.variable.units.blank? %><small><%= @mapping.variable.units %></small><% end %>
    <div id="mapping_<%= @mapping.column.gsub(' ', '_') %>_stats" style="display:none">
      <%= image_tag 'contour/ajax-loader.gif' %>
    </div>
  </td>
  <td valign="top" style="white-space:nowrap">
    <% if @mapping.source.user_has_action?(current_user, "edit data source mappings") %>
      <%= link_to 'remove', mapping_path(@mapping, source_id: @mapping.source.id, table: @mapping.table), method: :delete, remote: true, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to remove #{@mapping.table}.#{@mapping.column} mapping to #{@mapping.variable.display_name}?" } %>
    <% end %>
  </td>
</tr>
