$("#mapping_<%= @mapping.column.gsub(' ', '_') %>_stats").html('<div><div id="<%= @chart_element_id %>" style="width: <%= @defaults[:width] %>px;height: <%= @defaults[:height] %>px"></div></div><%= escape_javascript(@stats.to_s.html_safe) %>');

$("#mapping_<%= @mapping.column.gsub(' ', '_') %>_stats").show();



<% case @chart_type when 'column' %>
  drawHighChartHistogramChart('<%= @chart_element_id %>', <%= options_for_javascript(@values) %>, <%= options_for_javascript(@defaults) %>, <%= "[" + @categories.join(',') + "]" %>);
<% when 'pie' %>
  drawHighChartPieChart('<%= @chart_element_id %>', <%= options_for_javascript(@values) %>, <%= options_for_javascript(@defaults) %>);
<% when 'scatter' %>
  drawHighChartScatterChart('<%= @chart_element_id %>', <%= @values %>, <%= options_for_javascript(@defaults) %>);
<% when 'categorical_vs_continuous' %>
  drawHighChartScatterChart('<%= @chart_element_id %>', <%= @values %>, <%= options_for_javascript(@defaults) %>);
<% when 'continuous_vs_categorical' %>
  drawHighChartScatterChart('<%= @chart_element_id %>', <%= @values %>, <%= options_for_javascript(@defaults) %>);
<% when 'categorical_vs_categorical' %>
  drawHighChartScatterChart('<%= @chart_element_id %>', <%= @values %>, <%= options_for_javascript(@defaults) %>);
<% end %>