$("#mapping_<%= @mapping.column.gsub(' ', '_') %>_stats").html('<div><div id="<%= @chart_element_id %>" style="width: <%= @defaults[:width] %>px;height: <%= @defaults[:height] %>px"></div></div><%= escape_javascript(@stats.to_s.html_safe) %>');

$("#mapping_<%= @mapping.column.gsub(' ', '_') %>_stats").show();


<% case @chart_type when 'column' %>
  drawHighChartHistogramChart('<%= @chart_element_id %>', <%= @values.to_json.html_safe %>, <%= @defaults.to_json.html_safe %>, <%= @categories.to_json.html_safe %>);
<% when 'pie' %>
  drawHighChartPieChart('<%= @chart_element_id %>', <%= @values.to_json.html_safe %>, <%= @defaults.to_json.html_safe %>);
<% end %>
