<h1>Listing mappings</h1>

<table>
  <tr>
    <th>Source</th>
    <th>Concept</th>
    <th>Value</th>
    <th>Table</th>
    <th>Column</th>
    <th>Column value</th>
    <th>Units</th>
    <th>Status</th>
    <th>Deleted</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mappings.each do |mapping| %>
  <tr>
    <td><%= mapping.source_id %></td>
    <td><%= mapping.concept_id %></td>
    <td><%= mapping.value %></td>
    <td><%= mapping.table %></td>
    <td><%= mapping.column %></td>
    <td><%= mapping.column_value %></td>
    <td><%= mapping.units %></td>
    <td><%= mapping.status %></td>
    <td><%= mapping.deleted %></td>
    <td><%= link_to 'Show', mapping %></td>
    <td><%= link_to 'Edit', edit_mapping_path(mapping) %></td>
    <td><%= link_to 'Destroy', mapping, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<center><%= paginate @mappings %></center>
