<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_for @query, html: { class: 'form-horizontal' } do |f| %>
  <% if @query.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@query.errors.count, "error") %> prohibited this query from being saved:</h2>

      <ul>
      <% @query.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :user_id, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.select :user_id, [['---', nil]] + User.current.collect{|u| [u.name, u.id]} %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :name, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :description %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :deleted, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.check_box :deleted %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :negated, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.check_box :negated %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :identifier_concept_id, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.select :identifier_concept_id, [['---', nil]] + IdentifierConcept.current.collect{|i| [i.name, i.id]} %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :history, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :history, rows: 7, style: 'width:95%' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :history_position, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.number_field :history_position %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= cancel %>
  </div>
<% end %>
