<% @title = "Search" %>

<div class="page-header">
  <h1>
    <div id="query_<%= @query.id %>_name"><%= render partial: 'queries/name' %></div>
    <%#= link_to "Copy Search", copy_query_path(@query), method: :post, id: 'copy_search_link', class: 'btn btn-mini' %>
    <%#= link_to "History", queries_path, class: 'btn btn-mini' %>
    <%#= link_to "New Search", new_query_path, id: 'new_search_link', class: 'btn btn-mini' %>
    <%#= link_to "Matching", matching_path(cases_id: @query.id, controls_id: @query.id), class: 'btn btn-mini' %>
  </h1>
</div>

<div id="contour-backdrop" style="display:none"></div>

<div class="contour-modal-wrapper" data-object="contour_modal_wrapper" style="display:none">
  <div class="contour-modal" data-object="contour_modal_container"></div>
</div>

<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label">From</label>
    <div class="controls" style="white-space:nowrap">
      <%= text_field_tag :source, '', name: 'search', tabindex: '1', data: { query_id: @query.id } %>
      <%= link_to 'Browse All Sources', sources_path(popup: true, query_id: @query.id), remote: true, class: 'btn btn-mini' %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls" id="query_sources">
      <%= render partial: 'query_sources/query_sources' %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">With</label>
    <div class="controls" style="white-space:nowrap">
      <%= text_field_tag 'variable_search', '', tabindex: '2', data: { query_id: @query.id } %>
      <%= link_to 'Browse All Variables', variables_popup_query_path(@query), method: :get, remote: true, class: 'btn btn-mini' %>
    </div>
  </div>
</form>

<%= form_tag right_operator_query_concepts_path(query_id: @query.id), method: :post, remote: true, id: 'right_operator_query_concepts_form' do %>
  <%= hidden_field_tag :selected_right_operator_query_concept_id, '', name: 'query_concept_id' %>
  <%= hidden_field_tag :query_concept_right_operator, '', name: 'right_operator' %>
<% end %>

<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label">Tools</label>
    <div class="controls" style="padding-top:4px">
      <%= link_to image_tag('icons/gentleface/checkbox_checked_16.png', style: 'margin-left:4px;margin-right:4px'), select_all_query_concepts_path(query_id: @query.id, selected: true), method: :post, remote: true, class: 'loader', rel: 'tooltip', title: 'Select All Filters' %>
      <%= link_to image_tag('icons/gentleface/checkbox_unchecked_16.png', style: 'margin-left:4px;margin-right:4px'), select_all_query_concepts_path(query_id: @query.id, selected: false), method: :post, remote: true, class: 'loader', rel: 'tooltip', title: 'Deselect All Filters' %>
      <span class="space"></span>
      <%= link_to image_tag('icons/gentleface/indent_increase_16.png', style: 'margin-left:4px;margin-right:4px'), indent_query_concepts_path(query_id: @query.id, indent: 1), method: :post, remote: true, class: 'loader', rel: 'tooltip', title: 'Increase Indent' %>
      <%= link_to image_tag('icons/gentleface/indent_decrease_16.png', style: 'margin-left:4px;margin-right:4px'), indent_query_concepts_path(query_id: @query.id, indent: -1), method: :post, remote: true, class: 'loader', rel: 'tooltip', title: 'Decrease Indent' %>
      <span class="space"></span>
      <%= link_to image_tag('icons/gentleface/clipboard_copy_16.png', style: 'margin-left:4px;margin-right:4px'), copy_selected_query_concepts_path(query_id: @query.id), method: :post, remote: true, class: 'loader', rel: 'tooltip', title: 'Copy Selected Filters' %>
      <span class="space"></span>
      <%= link_to image_tag("icons/gentleface/undo_16#{'_q' unless @query.undo?}.png", style: 'margin-left:4px;margin-right:4px', id: 'undo_img', 'data-img-disabled' => "icons/gentleface/undo_16_q.png", 'data-img-enabled' => "icons/gentleface/undo_16.png"), undo_query_path(@query), method: :post, remote: true, class: 'loader', id: 'undo', rel: 'tooltip', title: 'Undo Last Change' %>
      <%= link_to image_tag("icons/gentleface/redo_16#{'_q' unless @query.redo?}.png", style: 'margin-left:4px;margin-right:4px', id: 'redo_img', 'data-img-disabled' => "icons/gentleface/redo_16_q.png", 'data-img-enabled' => "icons/gentleface/redo_16.png"), redo_query_path(@query), method: :post, remote: true, class: 'loader', id: 'redo', rel: 'tooltip', title: 'Redo Last Change' %>
      <span class="space"></span>
      <%= link_to image_tag('icons/gentleface/trash_16.png', style: 'margin-left:4px;margin-right:4px'), trash_selected_query_concepts_path(query_id: @query.id), method: :post, remote: true, data: { confirm: 'Are you sure you want to remove all the selected concepts?' }, class: 'loader', rel: 'tooltip', title: 'Remove Selected Filters' %>
    </div>
  </div>
</form>

<hr class="soften" style="margin: 20px 0px">

<div class="row-fluid">
  <div class="span9">
    <%= form_tag reorder_query_path(@query), method: :post, remote: true, id: 'query_concepts_form' do %>
      <div id="query_concepts" style="clear:both;margin-left:50px;margin-right:50px"><%= render partial: 'query_concepts/query_concepts' %></div>
    <% end %>
  </div>

  <div class="span3">
    <div class="download-container">
      <div class="download-container-after">Total</div>
      <h1>
        <div id="total_records_found_display" class="records_found center"></div>
      </h1>
    </div>

    <span id="total_errors_found" class="errors_found"></span>
  </div>
</div>

<%= form_tag total_records_count_query_path(@query), method: :post, remote: true, id: 'query_form', style: 'display:inline', onsubmit: "showWaiting('#total_records_found_display', ' ', false)" do %>
<% end %>

<% if false %>

<hr class="soften" style="margin: 20px 0px">

<div class="row-fluid">
  <div class="span3">
    <h2 class="about-title" style="text-align:left">Result</h2>
    <div id="total_records_found_display" class="records_found" style="font-weight: 300;font-size:30px;line-height:1"></div>
    <span id="total_errors_found" class="errors_found"></span>
  </div>

  <div class="span3">
    <h2 class="about-title" style="text-align:left">
      Datasets
      <%= link_to 'create', '#', class: 'btn btn-mini btn-primary', rel: 'tooltip', title: 'Create a new dataset', data: { object: 'modal-show', target: "#query_#{@query.id}_dataset_popup" } %>
    </h2>
    <div id="query_<%= @query.id %>_datasets_container"><%= render partial: 'reports/datasets' %></div>
  </div>

  <div class="span3">
    <h2 class="about-title" style="text-align:left">
      Reports
      <%= link_to 'create', '#', class: 'btn btn-mini btn-primary', rel: 'tooltip', title: 'Create a new report', data: { object: 'modal-show', target: '#report_popup' }, id: 'add_report_btn' %>
    </h2>
    <div id="reports_container"><%= render partial: 'reports/reports' %></div>
  </div>

  <div class="span3">
    <h2 class="about-title" style="text-align:left">Data Files</h2>
    <div id="query_file_types"><%= render partial: 'queries/file_types' %></div>
  </div>
</div>
<% end %>

<div id="information" style="display:none"></div>

<hr class="soften" style="margin: 20px 0px">

<div id="inlaid_report"></div>

<%= render partial: 'reports/report_modal' %>
<%= render partial: 'reports/dataset_modal' %>
<%= render partial: 'source_file_types/modal' %>
