$("#information").html("<%= escape_javascript(render("total_records_count")) %>");

$(".errors_found").html("");

<% @overall_totals.each do |grouping,total| %>
  <% if grouping == nil %>
    $('#total_records_found_display').html('<%= number_with_delimiter(total) %>');
  <% else %>
    $('#<%= grouping %>_display').html('<%= number_with_delimiter(total) %>');
  <% end %>
<% end %>
<% @overall_errors.each do |grouping,error| %>
  <% if grouping == nil %>
    $('#total_errors_found').html("<span class='label label-warning'><%= escape_javascript(error.html_safe) %></span>");
  <% else %>
    $('#<%= grouping %>_errors').html("<span class='label label-warning'><%= escape_javascript(error.html_safe) %></span>");
  <% end %>
<% end %>
