<div class="page-header">
  <h1><%= link_to @source.name, @source %> &middot; <%= link_to 'Joins', source_joins_path(@source) %> &middot; <%= @title %></h1>
</div>

<%= form_for [@join.source, @join], html: { class: 'form-horizontal' } do |f| %>
  <% if @join.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@join.errors.count, "error") %> prohibited this join from being saved:</h2>

      <ul>
      <% @join.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :from_table, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.select :from_table, [['---', nil]] + @source.tables(current_user)[:result], {}, data: { source_id: @source.id, attribute: 'from_column' } %>
    </div>
  </div>

  <div id="from_column-container">
    <%= render partial: 'column_selection_container', locals: { attribute: :from_column, table: @join.from_table, selected_column: @join.from_column } %>
  </div>

  <div class="control-group">
    <%= f.label :to_table, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.select :to_table, [['---', nil]] + @source.tables(current_user)[:result], {}, data: { source_id: @source.id, attribute: 'to_column' } %>
    </div>
  </div>

  <div id="to_column-container">
    <%= render partial: 'column_selection_container', locals: { attribute: :to_column, table: @join.to_table, selected_column: @join.to_column } %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= cancel %>
  </div>
<% end %>
