<% variable_scope = @search.variables %>

<% variable_scope_filter_by_search = ( params[:search].blank? ? Variable.none : variable_scope.search(params[:search]) ) %>
<% discovered_variable_ids = variable_scope_filter_by_search.pluck(:id) %>

<% variable_scope.with_folder(folder).select('distinct(folder)').collect{|v| v.folder_path_and_folder(folder)}.sort{|a,b| a[1] <=> b[1]}.uniq.each do |folder_path, folder_display_name| %>

  <% folder_id = "folder_#{folder_path.gsub(' ', '_').gsub(/[^a-zA-Z\d\-_]/,'_')}" %>
  <% found_number = variable_scope_filter_by_search.with_exact_folder_or_subfolder(folder_path).count %>

  <div id="<%= folder_id %>_link">
    <% if found_number > 0 %>
      <%= render partial: 'variables/folder_link', locals: { folder_id: folder_id, folder: folder_display_name } %>
    <% else %>
      <%= link_to open_folder_search_path(@search, folder: folder_path, folder_id: folder_id), method: :get, remote: true, style: "text-decoration:none" do %>
        <span class="glyphicon glyphicon-folder-close"></span>
        <span class="nolink"><%= folder_display_name %></span>
      <% end %>
    <% end %>
  </div>

  <div id="<%= folder_id %>_content" style="margin-left:20px">
    <% if found_number > 0 %>
      <%= render partial: 'variables/folders', locals: { folder: folder_path } %>
    <% end %>
  </div>

<% end %>

<% folder_variable_scope = discovered_variable_ids.size > 0 ? variable_scope_filter_by_search : variable_scope %>

<div>
  <% folder_variable_scope.with_exact_folder(folder).order('commonly_used DESC, display_name').each do |variable| %>
    <div class="<%= 'common' if variable.commonly_used? %>">
      <% link_name = discovered_variable_ids.include?(variable.id) ? "<span class='highlight'>#{variable.display_name}</span>".html_safe : variable.display_name %>
      <%= link_to link_name, dictionary_variable_path(variable.dictionary, variable, search_id: @search.id), remote: true %>
    </div>
  <% end %>
  <% hidden_count = variable_scope.with_exact_folder(folder).count - variable_scope_filter_by_search.with_exact_folder(folder).count %>
  <% if folder and discovered_variable_ids.size > 0 and hidden_count > 0 %>
    <% folder_id = "folder_#{folder.gsub(' ', '_').gsub(/[^a-zA-Z\d\-_]/,'_')}" %>
    <%= link_to pluralize(hidden_count, 'Hidden Variable'), open_folder_search_path(@search, folder: folder, folder_id: folder_id), method: :get, remote: true, class: 'btn btn-xs btn-default' %>
  <% end %>
</div>
