<%= render partial: 'contour/layouts/per_page', locals: { type: 'rules', per_page: 20 } %>

<table class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'rules.blocked', 'Blocked', 'rules_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'rules.name', 'Name', 'rules_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'rules.actions', 'Actions', 'rules_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'rules.users', 'Users', 'rules_search') %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <% @rules.each do |rule| %>
    <tr>
      <td style="text-align:center"><%= simple_check rule.blocked %></td>
      <td><%= link_to rule.name, [rule.source, rule] %></td>
      <td style="<%= 'text-decoration:line-through' if rule.blocked %>"><%= (rule.actions || []).join(', ') %></td>
      <td>
        <%= (rule.users || []).collect{|id| User.find_by_id(id)}.compact.collect{|u| link_to u.name, u}.join(', ').html_safe %>
      </td>
      <td>
        <%= link_to 'Edit', edit_source_rule_path(rule.source, rule), class: 'btn btn-mini' %>
        <%= link_to 'Delete', [rule.source, rule], data: { confirm: "Are you sure you want to delete Rule #{rule.name}?" }, method: :delete, class: 'btn btn-mini btn-danger-inverse' %>
      </td>
    </tr>
  <% end %>
</table>

<center><%= paginate @rules, theme: "contour" %></center>
