<div style="clear:both"></div>
<table class="blank padded"><col width="529px"/><col width="529px"/>
  <thead>
    <tr>
      <th style="text-align:center;padding-bottom:2px">Column</th>
      <th style="text-align:center;padding-bottom:2px">Row (Group By)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="vertical-align:top;">
        <ul id="sortable1" class="connectedSortable" style="margin-left:0px">
        <% @report.report_concepts.where(strata: false).each do |report_concept| %>
          <% @report_concept = report_concept %>
          <%= render partial: 'report_concepts/statistics' %>
        <% end %>
        </ul>
      </td>
      <td style="vertical-align:top;">
        <ul id="sortable2" class="connectedSortable" style="margin-left:0px">
        <% @report.report_concepts.where(strata: true).each do |report_concept| %>
          <% @report_concept = report_concept %>
          <%= render partial: 'report_concepts/statistics' %>
        <% end %>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

<%= form_tag report_table_report_path(@report, query_id: @query.id), method: :post, remote: true, onsubmit: "showWaiting('#report_table', ' Loading Report', true)", id: 'report_table_form', style: 'display:inline' do %>
<% end %>
<%= form_tag reorder_report_path(@report, query_id: @query.id), method: :post, remote: true, id: 'reorder_report_form', style: 'display:inline' do %>
<% end %>

<%= javascript_tag "
  $('#sortable1, #sortable2').sortable({
    placeholder: 'ui-state-highlight',
		connectWith: '.connectedSortable',
		stop: function() { columns = $('#sortable1').sortable('toArray').toString();
		  rows = $('#sortable2').sortable('toArray').toString();
		  $.post($('#reorder_report_form').attr('action'), '&columns='+columns+'&rows='+rows, null, 'script');
		  showWaiting('#report_table', ' Loading Report', true);
		}
	}).disableSelection();" %>
