<div class="modal hide modal-large" id="search_<%= @search.id %>_dataset_popup">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>New Dataset</h3>
  </div>
  <div class="modal-body">
    <%= form_tag reports_path(search_id: @search.id, is_dataset: true), method: :post, remote: true, id: "new_dataset_form", class: 'form-horizontal' do %>
      <% @report = Report.new({name: "Dataset: #{Time.now.strftime("%Y.%m.%d")}"}) %>
      <div class="form-group">
        <%= label :report, :name, class: 'col-md-2 control-label' %>
        <div class="col-md-10">
          <%= text_field :report, :name, class: "ui-widget-content ui-corner-all" %>
        </div>
      </div>

      <div class="form-group">
        <%= label :report, :template_id, "Template", class: 'col-md-2 control-label' %>
        <div class="controls" id="search_<%= @search.id %>_datasets_list">
          <%= render partial: 'reports/datasets_list' %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="modal-footer">
    <a href="#" data-dismiss="modal" aria-hidden="true" class="btn">Close</a>
    <%= link_to 'Save', '#', data: { object: 'submit', target: '#new_dataset_form', dismiss: 'modal' }, class: 'btn btn-primary'  %>
  </div>
</div>
