<div id="report_<%= @report.id %>"
  onmouseover="$('#report_<%= @report.id %>_delete_link').show();"
  onmouseout="$('#report_<%= @report.id %>_delete_link').hide();"
  style="line-height:25px">
  <span id="report_<%= @report.id %>_name">
    <%= render partial: 'reports/name' %>
  </span>
</div>
