<% original_report = @report %>
$("#reports_container").html("<%= escape_javascript(render("reports/reports")) %>");
$("#reports_list").html("<%= escape_javascript(render("reports/reports_list")) %>");
<% @report = original_report %>

<% params[:add_report_id] = @report.id %>

<% if Report.find_by_id(params[:add_report_id]) and false %>
  <%# From edit.js.erb %>
  $("#popup").css({
    "width": "816px" //"408px"
  });
  $("#popup_title").html("<%= escape_javascript(image_tag('gentleface/16/folder_open.png', align: 'absmiddle', alt: '')) %> <%= escape_javascript(@report.name) %>")
  $("#popup_content").html("<div id='popup_content_left'>Left</div><div id='popup_content_right' style='width:412px'></div><div style='clear:both'></div>");

  $("#popup_content_left").html("<%= escape_javascript(render("concepts/folder_search") + '<div id="concept_folders">'.html_safe + render("concepts/folders") + '</div>'.html_safe) %>");
  $("#popup_content_right").html("<%= escape_javascript(render("report_concepts/accordion")) %>");

  $("#popup_content_right").css({
    "overflow-y": "hidden",
    "width": "412px"
  })

  $(document.body).qtip('hide');

  $('#accordion').accordion({ fillSpace: true });

  <% unless @report.is_dataset? %>
    $('#report_table_form').submit();
  <% end %>
<% end %>

<%# Only render if report exists (it's not been deleted) %>
<% if Report.find_by_id(params[:add_report_id]) %>
  <%# From edit.js.erb %>
  $("#inlaid_report").html("<%= escape_javascript(render("reports/edit")) %>");

  <% unless @report.is_dataset? %>
    $('#report_table_form').submit();
  <% end %>

  $(function(){
    return $("#report_concept_search_term").on("keydown", function(event) {
      if (event.keyCode === $.ui.keyCode.TAB && $(this).data("catcomplete").menu.active) {
        return event.preventDefault();
      }
    }).catcomplete({
      source: root_url + ("concepts?autocomplete=true&" + (($('#report_concept_search_form').attr('action') || '?').split('?')[1])),
      html: true,
      select: function(event, ui) {
        return $("#selected_report_concept_id").val(ui.item ? ui.item.id : '');
      },
      close: function(event, ui) {
        $("#report_concept_search_form").submit();
        return $("#selected_report_concept_id").val('');
      }
    });
  });
<% else %>
  $("#inlaid_report").html("");
<% end %>
